<% content_for :title do %>
  プライバシーポリシー
<% end %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
 <section class='flex p-3 justify-center'>
                <div class='max-w-4xl w-full'>
                    <p class='py-3 text-base'>TBD（以下「当社」といいます）では、下記の「プライバシーポリシー」に基づき、お客様の個人情報を取り扱います。 お客様が、当社の運営するオンラインサービス「TBD」（以下「本サービス」といいます。）をご利用いただいた場合、下記「プライバシーポリシー」に同意されたものとみなします。 なお、当社は、下記の「プライバシーポリシー」に付加して、または別途、個人情報の取扱いに関して定める場合がありますので、ご留意ください。</p>
                </div>
            </section>

            <section class='flex px-3 justify-center'>
                <div class='max-w-4xl w-full'>
                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>定義</h2>
                        <p>「個人情報」とは、お客様個人を識別できる情報をいい、下記を含むものとします。</p>
                        <ul class='list-disc p-2'>
                            <li class='mx-6'>メールアドレス</li>
                        </ul>
                    </div>

                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>取得情報の収集</h2>
                        <p>当社は、本サービスをご利用になるお客様の個人情報及び利用情報（以下「取得情報」といいます。）を以下の方法により、収集させていただく場合がございます。</p>
                        <ul class='list-disc p-2'>
                            <li class='mx-6'>本サービス上で取得情報をお客様自身に入力していただき、取得情報を収集させていただきます。</li>
                            <li class='mx-6'>当社に対し、お客様から電子メール、郵便、書面等で取得情報をご提供いただくことにより、取得情報を収集させていただきます。</li>
                        </ul>
                    </div>

                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>取得情報の適正管理</h2>
                        <p>当社にて取得情報を管理・利用する業務に従事する者は、お客様の取得情報について厳重に管理を行い、個人情報への不当なアクセス、紛失、漏洩、改ざん等が起きないよう、取得情報の取扱に十分な注意を払い、その業務に努めます。</p>
                    </div>

                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>取得情報の利用目的</h2>
                        <p>取得情報を取得・収集する際にお客様にお知らせした利用目的、利用規約に定める利用目的または以下の目的のために、取得情報を利用させていただきます。</p>
                        <ul class='list-disc p-2'>
                            <li class='mx-6'>本サービスに関する各種事項の連絡や情報提供を行うため</li>
                            <li class='mx-6'>本サービスを提供するため</li>
                            <li class='mx-6'>電子メール配信サービスのお申し込みの確認やメールを配信するため</li>
                            <li class='mx-6'>本サービスの利用状況等を調査・分析するため</li>
                            <li class='mx-6'>本サービスの内容をよりご満足いただけるよう改良・改善、又は新サービス開発のため</li>
                            <li class='mx-6'>本サービスの内容をお客様に合わせてカスタマイズするため</li>
                            <li class='mx-6'>本サービスに関する満足度を調査するため</li>
                            <li class='mx-6'>本サービス、新サービスその他の各種サービスのご案内やお知らせをお届けするため</li>
                            <li class='mx-6'>調査のご協力依頼や各種イベントへのご参加をお願いしたり、その結果などをご報告するため</li>
                            <li class='mx-6'>本サービス運営上のトラブルの解決のため</li>
                        </ul>
                    </div>

                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>取得情報の第三者提供</h2>
                        <p>当社は、以下に定める場合、取得情報を第三者に開示します。</p>
                        <ul class='list-disc p-2'>
                            <li class='mx-6'>当社がサービスの運営及び提供において必要と判断した場合</li>
                            <li class='mx-6'>法令等に基づき、裁判所、行政機関、監督官庁その他公的機関から取得情報を提供するよう求められた場合。</li>
                            <li class='mx-6'>第三者との紛争解決のため、 又は本サービスのユーザーもしくは第三者の権利や利益等を守るために情報開示が必要と当社が判断した場合。</li>
                            <li class='mx-6'>本サービスの利用状況等を調査・分析するため、当社がかかる調査・分析等を委託する第三者に開示する場合。</li>
                            <li class='mx-6'>当社が利用目的を達成するために必要な範囲で、個人情報の取扱いの全部又は一部を委託する場合。</li>
                            <li class='mx-6'>当社又は第三者の広告の配信又は表示のため・その他、当社が取得情報の開示が必要と判断した場合に、お客様の同意を得た上で、取得情報を開示させていただくことがございます。</li>
                        </ul>
                    </div>

                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>「クッキーなど」の使用</h2>
                        <ul class='list-disc p-2'>
                            <li class='mx-6'>クッキー情報に関して、単独では特定の個人を識別することはできません。 個人情報が一体となって使用される場合には個人情報とみなします。</li>
                            <li class='mx-6'>クッキーの使用を許可するかどうかはお客様が設定できます。 多くのWebブラウザでは、自動的にクッキーの使用が許可されますが、クッキーの使用を禁止するようにブラウザの設定を変更することも可能です。 クッキーの使用を禁止した場合、本サービスを正常にご利用できない、あるいはクッキーを必要とする広告設定を反映できなくなる可能性があります。</li>
                            <li class='mx-6'>当社は、お客様のクッキー情報や、閲覧された広告・ページ、お客様のご利用環境等の情報を自動的にお客様のブラウザから受け取り、サーバーに記録し、本サービスログイン時の電子メールアドレス自動入力等の利便性向上のため、セッションの維持及び保護などセキュリティの為、また、新しいサービスを検討するため、サービスや広告の内容をよりお客様に適したものとするために利用いたします。</li>
                        </ul>
                    </div>

                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>「ログ」の使用等</h2>  
                        <p>当社は、ユーザーが 本サービス訪問時に自動で生成される、IP アドレス、ブラウザ種類、ブラウザ言語などを収集します。 これらの情報はユーザー環境を分析し、より良いサービス提供のため、また正常なサービス提供を妨害する不正行為防止のために利用いたします。検索に関する記録は個人を特定することができない形態で保存及び管理され、統計データ作成などの用途で利用いたします。</p>
                    </div>

                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>「機器情報」の使用等</h2>   
                        <p>当社は、端末の個体識別情報などの機器情報を収集する場合がございます。 これらの情報はより良いサービス提供のため、また正常なサービス提供を妨害する不正行為防止のために利用いたします。</p>
                    </div>

                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>個人情報の管理およびセキュリティ</h2>  
                        <p>当社では、収集させていただいた取得情報を、一般のユーザーがアクセスできない環境下にあるサーバーにて安全に保管し、不正アクセス・紛失・破壊・改ざんまたは漏洩が生じないよう努めます。</p>
                    </div>

                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>免責・注意事項</h2> 
                        <ul class='list-disc p-2'>
                            <li class='mx-6'>当社は、本サービスのリンクされている他の事業者または個人のウェブサービスにおけるお客様の取得情報等の保護に関しまして、一切の責任を負いません。 お客様ご自身にて当該サービスの内容をよくご確認の上で、閲覧およびご利用をお願いいたします。</li>
                            <li class='mx-6'>ハッカー等による不当な行為により、お客様および第三者に損害が生じた場合に関してまして、当社は一切の責任を請け負いません。</li>
                            <li class='mx-6'>お客様に対して、ご本人確認をするための情報につきましては、お客様にて、紛失、忘失または第三者に知られることのないよう厳重な管理をお願いいたします。</li>
                        </ul>  
                    </div>

                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>未成年のお客様の情報</h2> 
                        <p>お客様が未成年者の場合は、ご両親、保護者または後見人の方（以下「保護者様」といいます）がプライバシーポリシーおよび利用規約等の内容に同意され、お客様がプライバシーポリシーおよび利用規約等に基づき本サービスをご利用いただくことについて包括的に同意されることが必要となります。</p>
                    </div>

                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>プライバシーポリシーの改善</h2> 
                        <p>当社はプライバシーポリシー関しまして、適宜その改善に取り組みます。 お客様は、本サービスにアクセスするか当社のサービスをご利用になる前に、必ず最新のプライバシーポリシーをご確認ください。 お客様が本サービスにアクセスされるか、当社のサービスをご利用になられた場合は、最新のプライバシーポリシーの内容に同意されたものとみなします。</p>
                    </div>

                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>個人情報の開示・訂正・利用停止等の手続き</h2> 
                        <p>お客様は、個人情報保護法に従い、個人情報の開示、訂正、利用停止等を求めることができます</p>
                    </div>

                    <div class='py-2'>
                        <h2 class='py-2 text-xl font-bold'>お問い合わせ</h2> 
                        <p>プライバシーポリシーに関するお問い合わせは、お問い合わせフォームよりお願い致します。</p>
                    </div>

                    <div class='py-2'>
                        <p>2022年03月31日制定</p>
                    </div>
                </div>
            </section>
</div>
